<div class="card">
    <div class="text-center mt-3 mb-5">
       <form>
        <div class="form-group col-md-5">
            <input type="text" class="form-control shadow-effect" placeholder="Username">
        </div>
        <div class="form-group col-md-5">
            <input type="password" class="form-control shadow-effect" placeholder="Password">
            <button
                type="button" 
                (click)="togglePasswordVisibility()" 
                class="btn btn-secondary toggle-password" 
                style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);">
                {{ showPassword ? 'Hide' : 'Show' }}
        </button>
        </div>
    </form>
        <!-- <iframe width="420" height="345" src="https://www.youtube.com/embed/DND5JF9ioRw?autoplay=1&mute=1">
        </iframe>
        <iframe width="420" height="345" src="https://www.youtube.com/embed/DND5JF9ioRw?autoplay=1&mute=1">
        </iframe> -->
        
    </div>
</div>
