<div class="card">
    <img src="https://lh3.googleusercontent.com/Pc0zogTr-cGt8uxUorBmbGG6kjKDv4yALBGAchCzSL425_Hfqqin4rzi18Wcb9xUOjimmEoXbp9K3ISbEkdfIIVTCCfzLvI8YWJL=s750" alt="post-image" class="card-img-top">
    <div class="card-body">
       <small class="bg-light text-danger text-center">Design</small>
       <small class="bg-light text-success text-center ml-3">Featured</small>
       <small class="bg-light text-info text-center ml-3">Views - 1,000</small>

       <h5 class="mt-1"> TUPAC AMARU</h5>
       <P>Tupac Amaru Shakur also known by his stage names 2Pac and Makaveli, was an American rapper.</P>

       <small class="bg-light text-warning text-center ml-3">LAST UPDATED - OCT 19, 2023</small>
    </div>
</div>

